<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.mule.tooling.runtime.muleServerLaunchType">
<stringAttribute key="launch_mule_server_version" value="org.mule.tooling.server.4.3.0.ee"/>
<stringAttribute key="mule-agent-port" value="57345"/>
<stringAttribute key="mule-agent-token-auth" value="acab0a28-c862-40fd-b288-745e896d9476"/>
<listAttribute key="mule-project-names">
<listEntry value="dataweave-sample-a"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="dataweave-sample-a"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-M-XX:-UseBiasedLocking -M-Dfile.encoding=UTF-8 -M-XX:+UseG1GC -M-XX:+UseStringDeduplication"/>
</launchConfiguration>
