<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.mule.tooling.runtime.muleServerLaunchType">
<stringAttribute key="launch_mule_server_version" value="org.mule.tooling.server.4.3.0.ee"/>
<stringAttribute key="mule-agent-port" value="54440"/>
<stringAttribute key="mule-agent-token-auth" value="6bc50a10-ce00-4e52-aaa3-615c3231883a"/>
<listAttribute key="mule-project-names">
<listEntry value="demo-hello"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="demo-hello"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-M-XX:-UseBiasedLocking -M-Dfile.encoding=UTF-8 -M-XX:+UseG1GC -M-XX:+UseStringDeduplication"/>
</launchConfiguration>
