<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.munit.launchconfig">
<stringAttribute key="launch_mule_server_version" value="org.mule.tooling.server.4.3.0.ee"/>
<listAttribute key="mule-project-names">
<listEntry value="munit-test-record"/>
</listAttribute>
<booleanAttribute key="munit_run" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="munit-test-record"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.library.path=&#13;&#10;-Dlog4j.skipJansi=true"/>
<booleanAttribute key="run_coverage" value="true"/>
<setAttribute key="test_names">
<setEntry value="munit-test-record-test-suite-munit-test-recordFlowTest"/>
</setAttribute>
<setAttribute key="test_resources">
<setEntry value="munit-test-record-test-suite.xml"/>
</setAttribute>
</launchConfiguration>
